body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-container {
  padding-top: 25px;
}

nav.navbar {
  height: 100px;
  box-shadow: 0px 10px 10px 0 rgba(22,22,22,0.08);
  margin-bottom: 0;
}

.nav > li > a {
  font-family: "Britannic Bold";
  color: #d3d3d3;
  font-size: 2rem;
}

.nav > li.nav-logo {
  width: 174px;
  display: block;
  position: absolute;
  /* left: 50%; */
  /* margin-left: 50%; */
}

.nav-logo-image {
  height: 250%;
  width: 250%;
}

.nav > .li-logout {
  padding: 7px;

}

.btn-logout {
  color: black;
}

.home-heading {
  background-image: url("../images/giphy.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 20vh;
  padding: 0 30%;
  position: relative;
}

.home-heading-wrapper {
  padding: 0 5%;
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
}
.home-heading-wrapper > h1 {
  font-size: 9rem;
}

.home-heading-wrapper > p {
  font-family: "Britannic Bold";
  color: white;
  font-size: 5rem;
}

.btn-logout {
  font-family: "Britannic Bold";
  color: #d3d3d3;
  padding: 15px;
  border: 0;
  font-size: 15px;
}

.artwork-row {
  margin-top: 3%;
}

.text-center {
  font-family: "Britannic Bold";
  /* font-family :"Bodoni 72 Oldstyle"; */
}

.home-artwork-box {
  /* border: 1px solid #d3d3d3; */
height: 400px;

  margin: 40px 4%;
  padding: 10px;
}

.home-artwork-box img {
  width: 100%;
  height: 100%;
}

.artwork-info-wrapper {
  padding: 5px 7px;
  font-size: 1.2em;
  font-family: "Britannic Bold";
}

.artwork-info-wrapper > .description {
  display: block;
  margin-top: 20px;
}

.artwork-info-wrapper > .title {
  color: black;
  font-size: 1.1em;
}

.artwork-image {
  width: 100%;
  height: 500px;
}

.artwork-total {
  font-size: 1.9em;
  color: #05AF3C;
}

.light-text {
  color: #626369;
}

.large-strong {
  font-size: 1.4em;
}

progress {
  width: 100%;
}

.artwork-info div {
  margin-bottom: 15px;
}

.artwork-container .row {
  padding: 35px 0;
}

.backer-btn {
  background-color: #25CB68;
  border-radius: 3px;
  border: 1px solid black;
  color: white;
  width: 300px;
  height: 75px;
  padding: 2.4rem 4.8rem;
  font-size: 1.8rem;
}

.backer-btn:hover {
  color: white;
  background-color: #05AF3C;
}

.artwork-category {
  font-size: 1.4rem;
  border: 1px solid black;
  padding: 10px 0;
  text-align: center;
  float: right;
  width: 70px;
}

.artwork-description {
  padding-right: 275px;
}

.form-group {
  /* margin: 0 auto; */
  margin-top:19px;
  /* margin-left: 70%; */
  /* margin-right: 50%; */
  font-family: "Britannic Bold";
  font-size: 20px;
  /* text-align: center; */
  color: black;
  /* background: #41ba87; */
}

.auth-row {
  background: #41ba87;
  box-shadow: 0px 20px 20px #626369;
  height: 420px;
  border-radius: 25px;
  /* width: 600px; */
  /* padding: 0 200px; */
}

.button-signup{
  font-family: "Britannic Bold";
  background-color: white;
  color: black;
  display: inline-block;
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 20px;
} 

.form-control {
  width: 100%;
}

.login-row {
  background: #41ba87;
  box-shadow: 0px 20px 20px #626369;
  height: 250px;
  border-radius: 25px;
}

.button-login{
  font-family: "Britannic Bold";
  background-color: white;
  color: black;
  display: inline-block;
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 20px;
} 

.new-row {
  background: #41ba87;
  box-shadow: 0px 20px 20px #626369;
  height: 380px;
  border-radius: 25px;
}

.button-new{
  font-family: "Britannic Bold";
  background-color: white;
  color: black;
  display: inline-block;
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 20px;
} 

.edit-user-row {
  background: #41ba87;
  box-shadow: 0px 20px 20px #626369;
  height: 450px;
  border-radius: 25px;
}

.edit-profile-button{
  font-family: "Britannic Bold";
  background-color: white;
  color: black;
  display: inline-block;
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 20px;
} 

.col-sm-2{
  font-family: "Britannic Bold";
  font-size: 20px;
  color: #00c0c9;
  /* width: 200%; */
}

.col-sm-10{
  font-size: 20px;
  font-family: "Britannic Bold";
  border-style: solid;
  padding: 20px 20px;
}

.artwork-image{
  width: 100%;
  height: 100%;
}

.ref-artwork{
  font-size: 15px;
  font-family: "Britannic Bold";
  text-align: center;
}

.profile{
  font-size: 15px;
  font-family: "Britannic Bold";
}

.profile-description{
  font-size: 18px;
}

.profile-image{
  width:30%;
}

.artwork-title{
  vertical-align: text-top;
}

.profile-artwork{
padding: 10 px 10px;
}

ul#artwork {
  list-style-type: none;
  }

  .delete-user{
    color: white;
  }